*{
    padding: 0;
    margin: 0;
    text-align: right;
}

.rigth-to-left{
    direction: rtl;
}

.mt-12{
    margin-top: 115px;
}


.grad {
    background-image: linear-gradient(to right,rgb(88, 88, 212),rgb(81, 243, 255));
    height: 450px;
  }

 .content{
    
     /* border-radius: 5px; */
     background-color: white;
     margin-top: -300px;
     box-shadow: lightgray 1px 1px 20px ;
 } 

 .avatar{
     border-radius: 5px;
 }

 .profile-info{
    box-shadow: lightgray 1px 1px 10px ;
 }

 .articles-view,.comment-view{
    box-shadow: lightgray 1px 1px 10px ;
 }

 .btn-outline-success{
     color:rgb(81, 243, 255) ;
     border:rgb(81, 243, 255) solid 1px ;
 }

 .btn-outline-success:hover{
    color:white ;
    border:rgb(81, 243, 255) solid 1px ;
    background-color: rgb(81, 243, 255) ;
}