

.right-to-left {
  direction: rtl;
  text-align: right;
}

.grad {
    background-image: linear-gradient(to right,rgb(88, 88, 212),rgb(81, 243, 255));
    height: 450px;
  }

  .registery-form{
    background-color: white;
    margin-top: 150px;
    box-shadow: lightgray 1px 1px 20px ;
  }